<form class="" action="http://lacedeamon.spartaglobal.com/todos" method="post">
  <input type="date" name="date" value="">
  <input type="text" name="title" value="">
  <button type="submit">Save!</button>
</form>
